@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Noto+Sans+TC:wght@400;500;900&display=swap");
:root {
  --color-primary: #f6bed7;
  --color-primary60: rgba(246, 190, 215, 0.6);
  --color-primary60: rgba(246, 190, 215, 0.4);
  --color-secondary: #d76196;
  --color-secondary60: rgba(215, 97, 150, 0.6);
  --color-secondary40: rgba(215, 97, 150, 0.4);
  --color-success: #ffd78e;
  --color-success80: rgba(255, 215, 142, 0.8);
  --color-black: #000000;
  --color-gray: #464646;
  --color-gray60: rgba(70, 70, 70, 0.6);
  --color-gray-mid: #6d6d6d;
  --color-gray-mid60: rgba(109, 109, 109, 0.6);
  --color-white: #ffffff;
  --color-white80: rgba(255, 255, 255, 0.8);
  --color-white60: rgba(255, 255, 255, 0.6);
  --space-120: 12rem;
  --space-100: 10rem;
  --space-80: 8rem;
  --space-60: 6rem;
  --space-50: 5rem;
  --space-40: 4rem;
  --space-30: 3rem;
  --space-20: 2rem;
  --space-10: 1rem;
}

* {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 10px;
}
@media (max-width: 1199.98px) {
  html {
    font-size: 9.375px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 8.75px;
  }
}

body {
  margin: 0;
  font-family: var(--ff-ch);
  font-size: 1.6rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: var(--color-secondary);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url("../img/index/index_pict.jpg");
  background-repeat: no-repeat;
  background-position: 40% 50%;
  background-size: cover;
  background-attachment: fixed;
}

/* ----------------------------------- */
/* ------ Reset ------ */
/* ----------------------------------- */
a, area, button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

a, button {
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
a:hover, button:hover {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

span {
  display: block;
  line-height: inherit;
}

.container {
  max-width: 156rem;
}

.u-text-title {
  font-size: 4.8rem;
}
@media (max-width: 1600px) {
  .u-text-title {
    font-size: 4rem;
  }
}

.u-text-xl {
  font-size: 4rem;
}
@media (max-width: 1600px) {
  .u-text-xl {
    font-size: 3rem;
  }
}

.u-text-l {
  font-size: 2.4rem;
}
@media (max-width: 1600px) {
  .u-text-l {
    font-size: 2rem;
  }
}

.u-ff-ch {
  font-family: var(--ff-ch);
}

.u-ff-en {
  font-family: var(--ch-en);
}

.u-fw-800 {
  font-weight: 800;
}

.u-object-fit {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.u-object-fit.--abs {
  position: absolute;
  top: 0;
  left: 0;
}

.o-burger {
  cursor: pointer;
}
.o-burger__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.o-burger__line {
  width: 3.6rem;
  height: 2px;
  background-color: var(--color-secondary);
  margin-bottom: var(--space-10);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: width 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, width 0.3s;
  transition: transform 0.3s, width 0.3s, -webkit-transform 0.3s;
}
.o-burger:hover .o-burger__line:first-child {
  width: 3rem;
}
.o-burger:hover .o-burger__line:nth-child(2) {
  width: 5rem;
}
.o-burger:hover .o-burger__line:last-child {
  width: 3rem;
}

#burgerCtrl:checked ~ .o-burger .o-burger__line:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 4rem;
}
#burgerCtrl:checked ~ .o-burger .o-burger__line:nth-child(2) {
  width: 0;
}
#burgerCtrl:checked ~ .o-burger .o-burger__line:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 4rem;
}

#burgerCtrl:checked ~ .o-burger:hover .o-burger__wrap {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.o-btn {
  width: 15rem;
  height: 5rem;
  background-color: var(--color-success);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.o-btn__text {
  color: inherit;
  overflow: hidden;
}

.c-navbar {
  width: 100%;
  background-color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}
.c-navbar__logo-mask {
  display: none;
  max-width: 10rem;
}
.c-navbar__burger {
  display: none;
}
.c-navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-navbar__item {
  font-size: 2rem;
  margin: 0 var(--space-50);
}
.c-navbar__img-mask {
  width: 10rem;
  height: 10rem;
}
.c-navbar__btn {
  border: 2px solid transparent;
  color: var(--color-secondary);
  -webkit-transition: border 0.5s ease-out;
  transition: border 0.5s ease-out;
  padding: var(--space-10);
}
.c-navbar__btn:hover {
  font-weight: 800;
}
@media (max-width: 1399.98px) {
  .c-navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 var(--space-50);
  }
  .c-navbar__logo-mask {
    display: block;
  }
  .c-navbar__burger {
    display: block;
  }
  .c-navbar__list {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    width: 100%;
    max-height: 0;
    left: 0;
    top: 100%;
    background-color: var(--color-primary);
    overflow: hidden;
    -webkit-transition: max-height 1s 0.5s;
    transition: max-height 1s 0.5s;
  }
  .c-navbar__btn {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  .c-navbar__img-mask {
    display: none;
  }
  .c-navbar__burger-ctrl:checked ~ .c-navbar__list {
    max-height: 40rem;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
  }
  .c-navbar__burger-ctrl:checked ~ .c-navbar__list .c-navbar__btn {
    opacity: 1;
    -webkit-transition: opacity 0.5s 1s;
    transition: opacity 0.5s 1s;
  }
}

.c-card {
  margin: 0 10vw 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40rem;
}
.c-card__img-mask {
  position: relative;
  padding-right: 64rem;
  margin-right: 10rem;
  height: 36rem;
  overflow: hidden;
}
.c-card__img-mask img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.c-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-left: 1px solid #000;
  padding-left: 10rem;
  min-height: 40rem;
}
.c-card__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.c-card__ordinal-num {
  margin-right: 2rem;
}
.c-card__btn {
  margin-left: auto;
}
.c-card__btn .o-btn {
  width: 0;
  -webkit-transition: width 1s 0.5s;
  transition: width 1s 0.5s;
}
.c-card__btn .o-btn__text {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.c-card:hover .c-card__img-mask img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.c-card:hover .c-card__btn .o-btn {
  width: 15rem;
  -webkit-transition: width 1s;
  transition: width 1s;
}
.c-card:hover .c-card__btn .o-btn__text {
  opacity: 1;
  -webkit-transition: opacity 0.5s 1s;
  transition: opacity 0.5s 1s;
}
@media (max-width: 1600px) {
  .c-card__img-mask {
    padding-right: 56rem;
    height: 31.5rem;
  }
}
@media (max-width: 1399.98px) {
  .c-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .c-card__img-mask {
    padding: 0 64rem 36rem 0;
    margin-right: 0;
    margin-bottom: 10rem;
  }
  .c-card__content {
    border-top: 1px solid #000;
    border-left: 0;
    padding-top: 1rem;
    padding-left: 0;
  }
}

@media (max-width: 1880px) and (min-width: 1408px) {
  .c-product {
    margin-bottom: 2rem;
  }
}
@media (max-width: 1600px) {
  .c-product {
    margin-bottom: 2rem;
  }
}
.c-product__img-mask {
  --img-w-ratio: 5;
  --img-h-ratio: 4;
  padding-bottom: calc(100% * var(--img-h-ratio) / var(--img-w-ratio));
}
.c-product__img {
  width: 100%;
  height: 100%;
}
.c-footer {
  height: 15rem;
  background-color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.c-footer__img-mask {
  width: 20rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 15vw;
}
@media (max-width: 1600px) {
  .c-footer__img-mask {
    left: 10vw;
  }
}
@media (max-width: 1399.98px) {
  .c-footer__img-mask {
    display: none;
  }
}
.c-footer__icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 3rem;
  padding: 3rem 0 1rem;
  width: 10rem;
}
.c-footer__icon {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.c-footer__icon:hover {
  color: var(--color-secondary60);
}
.c-footer__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-footer__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2rem;
}
.c-footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.c-footer__address:hover {
  color: var(--color-secondary60);
}
.c-footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
}
.c-footer span {
  margin-left: 0.5rem;
}

.c-indexMainPicture__swiper {
  overflow: hidden !important;
}
.c-indexMainPicture__img-mask {
  --img-w-ratio: 2;
  --img-h-ratio: 1;
  padding-bottom: calc(100% * var(--img-h-ratio) / var(--img-w-ratio));
}
@media (max-width: 1880px) and (min-width: 1408px) {
  .c-indexMainPicture__img-mask {
    --img-w-ratio: 1;
    --img-h-ratio: 1;
    padding-bottom: calc(100% * var(--img-h-ratio) / var(--img-w-ratio));
  }
}
@media (max-width: 1600px) {
  .c-indexMainPicture__img-mask {
    --img-w-ratio: 2;
    --img-h-ratio: 3;
    padding-bottom: calc(100% * var(--img-h-ratio) / var(--img-w-ratio));
  }
}
.c-indexMainPicture__btn {
  padding: 7rem;
  border-radius: 50%;
}
.c-indexMainPicture__btn.--prev {
  color: var(--color-secondary) !important;
  background-color: var(--color-white80);
  left: 20rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
@media (max-width: 1600px) {
  .c-indexMainPicture__btn.--prev {
    left: 2rem;
  }
}
.c-indexMainPicture__btn.--prev:hover {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}
.c-indexMainPicture__btn.--next {
  color: var(--color-white) !important;
  background-color: var(--color-gray60);
  right: 20rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
@media (max-width: 1600px) {
  .c-indexMainPicture__btn.--next {
    right: 2rem;
  }
}
.c-indexMainPicture__btn.--next:hover {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}
.c-indexMainPicture__btn::after {
  content: "" !important;
}
.c-indexMainPicture__text {
  position: absolute;
  top: 65%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  border-radius: 4rem;
  padding: var(--space-40);
  opacity: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
@media (max-width: 767.98px) {
  .c-indexMainPicture__text {
    font-size: 1.5rem;
    padding: var(--space-20);
  }
}
.c-indexMainPicture__text.--sun {
  right: 50%;
  margin-left: var(--space-60);
  background-color: var(--color-gray60);
  color: var(--color-white);
}
.c-indexMainPicture__text.--night {
  left: 50%;
  margin-right: var(--space-60);
  background-color: var(--color-white80);
  color: var(--color-secondary);
}
.c-indexMainPicture__text.is-active {
  opacity: 1;
  top: 60%;
}

.my-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.c-introduceproduct__title {
  font-size: 10rem;
  font-weight: 900;
}
.c-introduceproduct__slide {
  padding: var(--space-30);
  background-color: var(--color-primary);
  border-radius: var(--space-20);
}
.c-introduceproduct__img-mask {
  --img-w-ratio: 1;
  --img-h-ratio: 1;
  padding-bottom: calc(100% * var(--img-h-ratio) / var(--img-w-ratio));
}
.c-introduceproduct__text {
  font-family: var(--ff-ch);
  text-align: center;
  font-weight: 500;
}

.c-burncard__img-mask {
  --img-w-ratio: 5;
  --img-h-ratio: 4;
  padding-bottom: calc(100% * var(--img-h-ratio) / var(--img-w-ratio));
  border-radius: 20% 0 20% 0;
  overflow: hidden;
}
.c-burncard__wrap:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 var(--space-40);
}
.c-burncard__img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.c-burncard__img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.c-burncard__text {
  font-size: 3rem;
}
@media (max-width: 991.98px) {
  .c-burncard__text {
    font-size: 2rem;
  }
}
@media (max-width: 575.98px) {
  .c-burncard__text {
    font-size: 1.5rem;
  }
}
.c-burncard__span {
  display: inline-block !important;
  font-size: 4rem;
  font-weight: 900;
  color: var(--color-success);
  -webkit-animation: shining 1.5s linear infinite;
          animation: shining 1.5s linear infinite;
}
@media (max-width: 991.98px) {
  .c-burncard__span {
    font-size: 3rem;
  }
}
@media (max-width: 575.98px) {
  .c-burncard__span {
    font-size: 2rem;
  }
}
@-webkit-keyframes shining {
  0% {
    text-shadow: 1px 0 10px var(--color-white);
  }
  50% {
    text-shadow: 1px 0 10px var(--color-secondary);
  }
  100% {
    text-shadow: 1px 0 10px var(--color-white);
  }
}
@keyframes shining {
  0% {
    text-shadow: 1px 0 10px var(--color-white);
  }
  50% {
    text-shadow: 1px 0 10px var(--color-secondary);
  }
  100% {
    text-shadow: 1px 0 10px var(--color-white);
  }
}

.l-index {
  overflow-y: hidden;
}

.l-news {
  width: 100%;
  margin-top: 35rem;
}
@media (max-width: 1399.98px) {
  .l-news {
    margin-top: 25rem;
  }
}
@media (max-width: 991.98px) {
  .l-news {
    margin-top: 20rem;
  }
}
@media (max-width: 767.98px) {
  .l-news {
    margin-top: 15rem;
  }
}
@media (max-width: 575.98px) {
  .l-news {
    margin-top: 10rem;
  }
}
.l-news__title {
  font-size: 30rem;
  font-weight: 900;
  position: absolute;
  top: -30rem;
  left: 0;
  color: var(--color-secondary60);
}
@media (max-width: 1399.98px) {
  .l-news__title {
    font-size: 25rem;
    top: -25rem;
  }
}
@media (max-width: 991.98px) {
  .l-news__title {
    font-size: 20rem;
    top: -20rem;
  }
}
@media (max-width: 767.98px) {
  .l-news__title {
    font-size: 15rem;
    top: -15rem;
  }
}
@media (max-width: 575.98px) {
  .l-news__title {
    font-size: 10rem;
    top: -10rem;
  }
}

.l-about {
  margin-top: 20rem;
}
.l-about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10rem;
}
.l-about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1399.98px) {
  .l-about__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 5rem;
  }
  .l-about__box:first-child {
    margin-bottom: var(--space-50);
  }
}
@media (max-width: 767.98px) {
  .l-about__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .l-about__box .c-card:first-child {
    margin-bottom: var(--space-50);
  }
}

.l-outsourcing {
  width: 100%;
  height: 100%;
  margin-top: 35rem;
}
.l-outsourcing__block {
  position: relative;
  height: 100%;
  margin-bottom: 2rem;
}
.l-outsourcing__wrap {
  padding: 0 5vw;
}
.l-outsourcing__box {
  --bs-gutter-x: 2.5rem;
}
.l-outsourcing__title {
  font-size: 30rem;
  font-weight: 900;
  position: absolute;
  top: -30rem;
  left: 3rem;
  color: var(--color-secondary60);
}
@media (max-width: 767.98px) {
  .l-outsourcing__title {
    font-size: 25rem;
    top: -25rem;
  }
}
.l-outsourcing__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.l-introduce {
  width: 100%;
  margin-top: 35rem;
}
@media (max-width: 1399.98px) {
  .l-introduce {
    margin-top: 25rem;
  }
}
@media (max-width: 991.98px) {
  .l-introduce {
    margin-top: 20rem;
  }
}
@media (max-width: 767.98px) {
  .l-introduce {
    margin-top: 15rem;
  }
}
@media (max-width: 575.98px) {
  .l-introduce {
    margin-top: 10rem;
  }
}
.l-introduce__title {
  font-size: 30rem;
  font-weight: 900;
  position: absolute;
  top: -30rem;
  left: 0;
  color: var(--color-secondary60);
}
@media (max-width: 1399.98px) {
  .l-introduce__title {
    font-size: 25rem;
    top: -25rem;
  }
}
@media (max-width: 991.98px) {
  .l-introduce__title {
    font-size: 20rem;
    top: -20rem;
  }
}
@media (max-width: 767.98px) {
  .l-introduce__title {
    font-size: 15rem;
    top: -15rem;
  }
}
@media (max-width: 575.98px) {
  .l-introduce__title {
    font-size: 10rem;
    top: -10rem;
  }
}

.l-service {
  width: 100%;
  margin-top: 35rem;
}
@media (max-width: 1399.98px) {
  .l-service {
    margin-top: 25rem;
  }
}
@media (max-width: 991.98px) {
  .l-service {
    margin-top: 20rem;
  }
}
@media (max-width: 767.98px) {
  .l-service {
    margin-top: 15rem;
  }
}
@media (max-width: 575.98px) {
  .l-service {
    margin-top: 10rem;
  }
}
.l-service__title {
  font-size: 30rem;
  font-weight: 900;
  position: absolute;
  top: -30rem;
  left: 0;
  color: var(--color-secondary60);
}
@media (max-width: 1399.98px) {
  .l-service__title {
    font-size: 25rem;
    top: -25rem;
  }
}
@media (max-width: 991.98px) {
  .l-service__title {
    font-size: 20rem;
    top: -20rem;
  }
}
@media (max-width: 767.98px) {
  .l-service__title {
    font-size: 15rem;
    top: -15rem;
  }
}
@media (max-width: 575.98px) {
  .l-service__title {
    font-size: 10rem;
    top: -10rem;
  }
}

.l-sister {
  margin-top: 10rem;
}
.l-sister::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/sister/daijohn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.l-sister__box {
  height: 100%;
}
.l-sister__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 991.98px) {
  .l-sister__wrap {
    display: inlink-block;
  }
}
.l-sister__text {
  text-align: center;
  color: var(--color-white);
  padding: var(--space-20);
  margin: var(--space-40);
  font-size: 3rem;
  border-radius: 3rem;
  background-color: red;
}
@media (max-width: 991.98px) {
  .l-sister__text {
    margin: var(--space-40) var(--space-120);
  }
}
.l-sister__img-mask {
  --img-w-ratio: 1;
  --img-h-ratio: 1;
  padding-bottom: calc(100% * var(--img-h-ratio) / var(--img-w-ratio));
}
.l-sister__img {
  width: 100%;
  height: 100%;
}