.c-burncard
  // margin-top: 10rem 
  &__img-mask
    --img-w-ratio: 5
    --img-h-ratio: 4
    padding-bottom: calc(100% * var(--img-h-ratio) / var(--img-w-ratio))
    // transform: skew(315deg)
    // transform-origin: top left
    border-radius: 20% 0 20% 0
    overflow: hidden
  &__wrap:last-child
    display: flex
    justify-content: center
    align-items: center
    padding: 0 var(--space-40)
  &__img
    // 之後想加進去的時候從透明度從0變1
    transform: scale(1)
    transition: 0.5s
    &:hover
      transform: scale(1.2)
  &__text
    font-size: 3rem
    +media(md)
      font-size: 2rem
    +media(xs)
      font-size: 1.5rem
  &__span
    display: inline-block !important
    font-size: 4rem
    font-weight: 900
    color: var(--color-success) 
    
    animation: shining 1.5s linear infinite
    +media(md)
      font-size: 3rem
    +media(xs)
      font-size: 2rem
      
    

  @keyframes shining
    0%
      text-shadow: 1px 0 10px var(--color-white)
    50%
      text-shadow: 1px 0 10px var(--color-secondary)
    100%
      text-shadow: 1px 0 10px var(--color-white)