.l-outsourcing
  margin-top: 20rem
  position: relative
  &__title
    font-size: 30rem
    font-weight: 900
    position: absolute
    color: var(--color-secondary40)
  &__box
    display: flex
    justify-content: center
    align-items: center