doctype html
html(lang="en")
  head
    include mixin/_webset.pug
    +WebSet
    title 「咾鍋」 風味鍋物 - 滿滿的親切少女心，給您溫柔體貼的用餐體驗
  body 
    include mixin/component/_navbar.pug
    include mixin/component/_footer.pug
    header
      +HeaderNavbar
    footer.c-footer
      +NewFooter
    script(src="https://kit.fontawesome.com/c85166bbba.js" crossorigin="anonymous")