doctype html
html(lang="en")
  head
    include mixin/_webset.pug
    +WebSet
    title 「咾鍋」 風味鍋物 - 滿滿的親切少女心，給您溫柔體貼的用餐體驗
  body
    include mixin/component/_navbar.pug
    include mixin/component/_footer.pug
    include mixin/component/_card.pug
    header
      +HeaderNavbar
    section.l-news
    -
      const NewsCardContent = [
        {
          img: './img/news/testimg.jpg',
          imgcontent: '測試照片_1',
          number: '23',
          ordinalnumber: 'rd',
          month: 'Aug',
          content: '麻油麵線是一道經典的台灣小吃，以麻油為主要調味料。而我們咾鍋選用的麻油是貴夫人純正麻油，品質上乘。這款麻油麵線口感細緻，香氣濃郁，讓人回味無窮。無論是冬天暖身，還是夏天消暑，都是一道令人愛不釋手的美味佳餚。一定要嚐嚐看喔～'
        },
        {
          img: './img/news/testimg.jpg',
          imgcontent: '測試照片_1',
          number: '23',
          ordinalnumber: 'rd',
          month: 'Aug',
          content: '麻油麵線是一道經典的台灣小吃，以麻油為主要調味料。而我們咾鍋選用的麻油是貴夫人純正麻油，品質上乘。這款麻油麵線口感細緻，香氣濃郁，讓人回味無窮。無論是冬天暖身，還是夏天消暑，都是一道令人愛不釋手的美味佳餚。一定要嚐嚐看喔～'
        },
        {
          img: './img/news/testimg.jpg',
          imgcontent: '測試照片_1',
          number: '23',
          ordinalnumber: 'rd',
          month: 'Aug',
          content: '麻油麵線是一道經典的台灣小吃，以麻油為主要調味料。而我們咾鍋選用的麻油是貴夫人純正麻油，品質上乘。這款麻油麵線口感細緻，香氣濃郁，讓人回味無窮。無論是冬天暖身，還是夏天消暑，都是一道令人愛不釋手的美味佳餚。一定要嚐嚐看喔～'
        },
        {
          img: './img/news/testimg.jpg',
          imgcontent: '測試照片_1',
          number: '23',
          ordinalnumber: 'rd',
          month: 'Aug',
          content: '麻油麵線是一道經典的台灣小吃，以麻油為主要調味料。而我們咾鍋選用的麻油是貴夫人純正麻油，品質上乘。這款麻油麵線口感細緻，香氣濃郁，讓人回味無窮。無論是冬天暖身，還是夏天消暑，都是一道令人愛不釋手的美味佳餚。一定要嚐嚐看喔～'
        },
      ]
    - for(let i = 0;i < NewsCardContent.length; i++)
      +NewsCard(NewsCardContent[i])
    footer.c-footer
      +NewFooter
          
    script(src="https://kit.fontawesome.com/c85166bbba.js" crossorigin="anonymous")
    