doctype html
html(lang="en")
  head
    include mixin/_webset.pug
    +WebSet
    
    title 「咾鍋」 風味鍋物 - 滿滿的親切少女心，給您溫柔體貼的用餐體驗
  body  
    //- 統一管理
    include mixin/component/_navbar.pug
    include mixin/component/_footer.pug
    include mixin/component/_product.pug
    header
      +HeaderNavbar
    main.l-outsourcing
      section.l-outsourcing__block
        h1.l-outsourcing__title 狗狗
        .container-fluid.l-outsourcing__wrap
          .row.row-cols-xxl-4.row-cols-xl-2.row-cols-lg-2.row-cols-md-2.row-cols-sm-1.row-cols-1.l-outsourcing__box
            -
              const ProductContentDog = [
                {
                  img:'./img/outsourcing/test1.png',
                  imgcontent: '狗狗.png',
                  title: '我是狗狗',
                  content: '我是內文我是內文我是內文我是內文我是內文我是內文我是內文我是內文我是內文'
                },
                {
                  img:'./img/outsourcing/test1.png',
                  imgcontent: '狗狗.png',
                  title: '我是狗狗',
                  content: '我是內文我是內文我是內文我是內文我是內文我是內文我是內文我是內文我是內文'
                },
                {
                  img:'./img/outsourcing/test1.png',
                  imgcontent: '狗狗.png',
                  title: '我是狗狗',
                  content: '我是內文我是內文我是內文我是內文我是內文我是內文我是內文我是內文我是內文'
                },
                {
                  img:'./img/outsourcing/test1.png',
                  imgcontent: '狗狗.png',
                  title: '我是狗狗',
                  content: '我是內文我是內文我是內文我是內文我是內文我是內文我是內文我是內文我是內文'
                }
              ]
            - for(let i = 0; i < ProductContentDog.length; i++)
              +SourcingProject(ProductContentDog[i])
      section.l-outsourcing__block
        h1.l-outsourcing__title 貓咪
        .container-fluid.l-outsourcing__wrap
          .row.row-cols-xxl-4.row-cols-xl-2.row-cols-lg-2.row-cols-md-2.row-cols-sm-1.row-cols-1.l-outsourcing__box
            -
              const ProductContentCat = [
                {
                  img:'./img/outsourcing/test2.png',
                  imgcontent: '貓咪.png',
                  title: '我是貓咪',
                  content: '我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛'
                },
                {
                  img:'./img/outsourcing/test2.png',
                  imgcontent: '貓咪.png',
                  title: '我是貓咪',
                  content: '我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛'
                },
                {
                  img:'./img/outsourcing/test2.png',
                  imgcontent: '貓咪.png',
                  title: '我是貓咪',
                  content: '我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛'
                },
                {
                  img:'./img/outsourcing/test2.png',
                  imgcontent: '貓咪.png',
                  title: '我是貓咪',
                  content: '我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛我很可愛'
                }
              ]
            - for(let i = 0; i < ProductContentCat.length; i++)
              +SourcingProject(ProductContentCat[i])
    footer.c-footer
      +NewFooter

    script(dsrc="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous")      
    script(src="https://kit.fontawesome.com/c85166bbba.js" crossorigin="anonymous")
      
