mixin NewFooter
  .c-footer__img-mask
    img(src="./img/footer/solgan.png", alt="做自己的女王")
  .c-footer__icon-wrap 
    a(href="https://www.facebook.com/pc123499" target="_blank") 
      i.fa-brands.fa-facebook.c-footer__icon
    a(href="https://www.instagram.com/laoguo20170409/" target="_blank") 
      i.fa-brands.fa-instagram.c-footer__icon
  .c-footer__information
    .c-footer__time 
      i.fa-solid.fa-clock
      span 17:30-02:00
    a(href="https://www.google.com/maps/place/%E5%92%BE%E9%8D%8B%E9%A2%A8%E5%91%B3%E9%8D%8B%E7%89%A9/@24.1415574,120.6401032,17z/data=!3m1!4b1!4m6!3m5!1s0x34693d9f15a88699:0xc58c67aaa9d972f2!8m2!3d24.1415525!4d120.6426781!16s%2Fg%2F11g7z48px4?hl=zh-TW&entry=ttu" target="_blank").c-footer__address 
      i.fa-solid.fa-location-dot
      span 408台中市南屯區惠文路258號
    .c-footer__phone 
      i.fa-solid.fa-phone
      span 0966-566661